{% extends "base.html" %}

{% block topmenu %}
<ul class="nav topmenu">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/dashboard/">Dashboard</a></li>
    <li><a href="/admin/">Admin</a></li>
</ul>
{% endblock %}

{% block leftmenu %}
<div class="span2">
    <div class="well sidebar-nav">
        {% if user.is_authenticated %}
        <ul class="nav nav-list">
            <li class="nav-header">NILGIRI</li>
            <li class="active"><a href="/dashboard/">Dashboard</a></li>
            <li class="nav-header">SERVICES</li>
            <li id="tab_instances"><a href="">Instances</a></li>
            <li id="tab_volumes"><a href="">Volumes</a></li>
            <li id="tab_snapshots"><a href="">Snapshots</a></li>
            <li id="tab_images"><a href="">Images</a></li>
            <li class="nav-header">SECURITY</li>
            <li id="tab_keypairs"><a href="#">Keypairs</a></li>
            <li id="tab_groups"><a href="#">Groups</a></li>
            <li class="nav-header">SETTINGS</li>
            <li id="tab_creds"><a href="/edit/">Credentials</a></li>
        </ul>
        {% endif %}
    </div><!--/.well -->
</div><!--/span-->
{% endblock %}

{% block content %}
<div id="page_content">

    <div class="page-header">
        <h1>Credentials <small>Edit your Eucalyptus credentials</small></h1>
    </div>

    <div class="row">
        <div class="span1">
        </div>
        <div class="span11 columns">
            <a href="/edit/" class="btn btn-primary btn-large">Edit Credentials</a>
            <hr>
        </div>
    </div>

    <div class="page-header">
        <h1>Launch <small>Launch a new instance</small></h1>
    </div>

    <div class="row">
        <div class="span1">
        </div>
        <div class="span11 columns">
            <div id="myModal" class="modal hide fade" style="width: 860px; margin: -250px 0 0 -430px;">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" >&times;</a>
                    <h3>Launch Instance</h3>
                </div>
                <div class="modal-body launch_modal_div" style="height: 400px;"><center><img src="/static/images/loading.gif" /></div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal" >Close</a>
                    </div>
                </div>
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large launch_modal_button">Launch an instance</a>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}
