<table class="flexme2">
    <thead>
        <tr>
            <th width="150">Owner</th>
            <th width="150">Name</th>
            <th width="150">Description</th>
            <th width="80">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups  %}
        <tr>
            <td>{{ group.owner_id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.description }}</td>
            <td>
                <button data-loading-text="loading..." class="btn btn-mini btn-primary editGroupBtn" value="{{ group.name }}">Edit</button>
                <button data-loading-text="loading..." class="btn btn-mini btn-danger delete_group" value="{{ group.name }}">Delete</button>
            </td>
        </tr>
        {% endfor  %}
    </tbody>
</table>

<div id="editGroupModal" class="modal hide fade" style="width: 860px; margin: -250px 0 0 -430px;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3>Create Volume</h3>
    </div>
    <div class="modal-body">
        <center><img src="/static/images/loading.gif" /></center>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
    </div>
</div>


<script>
    $('.flexme2').flexigrid({
        height : 'auto',
        width : 'auto',
        striped : true
    });

    $("button.editGroupBtn").click(function(e) {
        $(this).button('loading');
        var that = $(this);
        $('#editGroupModal').modal('show');
        $("div#editGroupModal .modal-body").html('<center><img src="/static/images/loading.gif" /></center>');
        $("input#selected_group").attr("value", that.attr("value"));
        $.ajax({
            url: "/groups/editGroup",
            type: "POST",
            data: {
                'group_name': that.attr("value"),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                that.button('reset');
                $("div#editGroupModal .modal-body").html(data);
            },
            crossDomain: false
        });
        e.preventDefault();
    });

    $("button.delete_group").click(function() {
        $(this).button('loading');
        var that = $(this);
        $.ajax({
            url: "/groups/deleteGroup",
            type: "POST",
            data: {
                'group_name': that.attr("value"),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                that.button('reset');
                $('div#available_groups').load("/groups/describeGroups");
            },
            crossDomain: false
        });
    });
</script>
