<table class="flexme2">
    <thead>
        <tr>
            <th width="100">ID</th>
            <th width="200">Location</th>
            <th width="100">Owner</th>
            <th width="100">State</th>
            <th width="100">Type</th>
            <th width="100">Architecture</th>
        </tr>
    </thead>
    <tbody>
        {% for image in images %}
        {% if "emi" in image.id %}
        <tr>
            <td>{{ image.id }}</td>
            <td>{{ image.location }}</td>
            <td>{{ image.ownerId }}</td>
            <td>{{ image.state }}</td>
            {% if image.is_public %}
            <td>Public</td>
            {% else %}
            <td>Private</td>
            {% endif %}
            <td>{{ image.architecture }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<script>
    $('.flexme2').flexigrid({
        height : 'auto',
        width : 'auto',
        striped : true
    });

</script>
