<div id="describe_vol_view">
    <table class="flexme2" style="font-size: 12px;">
    <thead>
        <tr>
            <th width="80">Volume ID</th>
            <th width="30">Size</th>
            <th width="100">Snapshot ID</th>
            <th width="50">Zone</th>
            <th width="60">Status</th>
            <th width="70">Created</th>
            <th width="70">Instance</th>
            <th width="70">Device</th>
            <th width="70">Used On</th>
            <th width="170">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for volume in volumes %}
        {% if volume.status != "deleted" %}
        <tr class="volume" value="{{ volume.id }}">
            <td>{{ volume.id }}</td>
            <td>{{ volume.size }}</td>
            <td>{{ volume.snapshot_id }}</td>
            <td>{{ volume.zone }}</td>
            <td>{{ volume.status }}</td>
            <td>{{ volume.create_time }}</td>
            <td class="attach_instance_view">{{ volume.attach_data.instance_id }}</td>
            <td class="attach_device_view">{{ volume.attach_data.device }}</td>
            <td>{{ volume.attach_data.attach_time }}</td>
            <td class="">
                <div class="attach_action_view" style="margin:0px; padding:0px;">
                    {% if volume.status == "in-use" %}
                    <button data-loading-text="loading..." class="btn btn-primary btn-mini" disabled="disabled" href="#" value="">Attach</button>
                    <button data-loading-text="loading..." class="btn btn-danger btn-mini detach_volumes" href="#" value="{{ volume.id }}">Detach</button>
                    {% else %}
                    <button data-loading-text="loading..." class="btn btn-primary btn-mini attach_volumes" href="#" value="{{ volume.id }}">Attach</button>
                    <button data-loading-text="loading..." class="btn btn-danger btn-mini delete_volumes" href="#" value="{{ volume.id }}">Delete</button>
                    {% endif %}
                    {% if volume.snapshot_id == None %}
                    <button data-loading-text="loading..." class="btn btn-success btn-mini snapshot"  href="#" value="{{ volume.id }}">Snapshot</button>
                    {% else %}
                    <button data-loading-text="loading..." class="btn btn-success btn-mini snapshot" disabled="disabled"  href="#" value="{{ volume.id }}">Snapshot</button>
                    {% endif %}
                </div>

                <div class="attach_action_view_ghost" style="display: none;">
                    <button data-loading-text="loading..." class="btn btn-primary btn-mini attach_volumes_save" href="#" value="{{ volume.id }}">Save</button>
                    <button data-loading-text="loading..." class="btn btn-danger btn-mini attach_volumes_cancel" href="#" value="">Cancel</button>
                </div>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $('.flexme2').flexigrid({
        height : 'auto',
        width : 'auto',
        striped : true
    });

    $("tr.volume").click(function() {
        $("tr.volume").removeClass("trSelected");
        $(this).addClass("trSelected");
    });

    $("button.snapshot").click(function() {
        var that = $(this);
        that.button('loading');
        $.ajax({
            url: "/snapshots/createSnapshot",
            type: "POST",
            data: {
                'volume_id': that.attr("value"),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                that.button('reset');
            },
            crossDomain: false
        })
    });

    $("button.delete_volumes").click(function() {
        var that = $(this);
        that.button('loading');
        $.ajax({
            url: "/volumes/deleteVolume",
            type: "POST",
            data: {
                'vol_id': that.attr("value"),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                $("button.delete_volumes").button('reset');
                $("div#describe_vol_view").load('/volumes/describeVolumes');
            },
            crossDomain: false
        })
    });

    $("button.attach_volumes").click(function(e) {
        var that=$(this);
        $('#volume_modal').modal('show');
        $.ajax({
            url: "/volumes/volumeModal",
            type: "POST",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                $("div#volume_modal .modal-body").html(data);
                $("div#volume_modal div#volumeId_div").html('<span id="volume_id" class="input-xlarge uneditable-input modal_inputs">'+that.attr("value")+'</span>');
            },
            crossDomain: false
        });

        e.preventDefault();
    });

    $("button.detach_volumes").click(function() {
        var that = $(this);
        that.button('loading');
        $.ajax({
            url: "/volumes/detachVolume",
            type: "POST",
            data: {
                'vol_id': that.attr("value"),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                that.delay(5000).queue(function() {
                    that.button('reset');
                    $("div#describe_vol_view").load('/volumes/describeVolumes');
                });
            },
            crossDomain: false
        });
    });

</script>
