<h3>Create Volumes</h3>
<table class="table table-bordered table-striped">
    <thead>
        <th>Size</th>
        <th>Zone</th>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="input-append">
                    <input type="text" size="16" id="vol_size" style="float: left;"><span class="add-on">GB</span>
                </div>

            </td>
            <td><div id="zones"></div></td>
            <td><button data-loading-text="loading..." class="btn btn-primary save_volumes" href="#" value="">Save</button></td>
        </tr>
    </tbody>
</table>
<h3>Available Volumes</h3>

<div class="well wellmenu">
    <a href="" id="refresh_volumes" class="btn"><i class="icon-refresh"></i> Refresh</a>
</div>

<div id="volume_modal" class="modal hide fade" style="margin: -150px 0 0 -270px;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3>Attach Volume</h3>
    </div>
    <div class="modal-body">
        <center><img src="/static/images/loading.gif" /></center>
    </div>
    <div class="modal-footer">
    </div>
</div>

<div id="volumes_container"><center><img src="/static/images/loading.gif" /></center></div>
<script>

    $(document).ready(function() {
        $.ajax({
            url: "/zones/describe_available_zones",
            type: "POST",
            data: {
                'feed': 'zone_feed',
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                $("div#zones").html(data);
            },
            crossDomain: false
        });

        $.ajax({
            url: "/volumes/describeVolumes",
            type: "POST",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                $("div#volumes_container").html(data);
            },
            crossDomain: false
        });

    });

    $("a#refresh_volumes").click(function(e) {
        $("div#volumes_container").html('<center><img src="{{ STATIC_URL }}images/loading.gif" /></center>');
        $("div#volumes_container").load('/volumes/describeVolumes');
        e.preventDefault();
    });

    $("button.save_volumes").click(function() {
        $("button.save_volumes").button('loading');
        var that = $(this);
        $.ajax({
            url: "/volumes/createVolume",
            type: "POST",
            data: {
                'vol_size':$("#vol_size").val(),
                'vol_zone':$("#ghost_available_zones").val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                $("button.save_volumes").button('reset');
                $("input#vol_size").val("");
                $("div#describe_vol_view").load('/volumes/describeVolumes');
            },
            crossDomain: false
        });
    });
</script>
