<table class="flexme2">
    <thead>
        <tr>
            <th width="70">Keyname</th>
            <th width="350">fingerprint</th>
            <th width="50">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for keypair in keypairs  %}
        <tr>
            <td>{{ keypair.name }}</td>
            <td>{{ keypair.fingerprint }}</td>
            <td>
                <button class="btn btn-mini btn-danger delete_key" href="#" value="{{ keypair.name }}">Delete</button>
            </td>
        </tr>
        {% endfor  %}
    </tbody>
</table>

<script>
    $('.flexme2').flexigrid({
        height : 'auto',
        width : 'auto',
        striped : true
    });

    $("button.delete_key").click(function() {
        $(this).button('loading');
        var that = $(this);
        var params={
            'key_name':that.attr("value"),
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        $.post("/keypairs/deleteKeypair", params, function(data) {
            $("div#available_keys").load('/keypairs/describeKeypairs');
        });
    });
</script>
