<table class="flexme2" style="font-size: 12px;">
    <thead>
        <tr>
            <th width="70">ID</th>
            <th width="60">Groups</th>
            <th width="70">Instance</th>
            <th width="85">Image</th>
            <th width="80">Pub DNS</th>
            <th width="80">Pvt DNS</th>
            <th width="60">State</th>
            <th width="55">Key</th>
            <th width="70">Type</th>
            <th width="80">Launce Time</th>
            <th width="75">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>
                {% for group in reservation.groups %}
                {{ group.id }} &nbsp;
                {% endfor %}
            </td>
            {% for instance in reservation.instances %}
            <td>{{ instance.id }}</td>
            <td>{{ instance.image_id }}</td>
            <td>{{ instance.public_dns_name }}</td>
            <td>{{ instance.private_dns_name }}</td>

            <td>{{ instance.state }}</td>
            <td>{{ instance.key_name }}</td>
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.launch_time }}</td>
            {% if instance.state == "running" %}
            <td><button id="" data-loading-text="loading..." class="btn btn-mini btn-danger terminate" value="{{ instance.id }}">Terminate</button></td>
            {% endif %}
            {% if instance.state == "pending" %}
            <td><button id="" data-loading-text="loading..." class="btn btn-mini btn-success" value="" disabled="disabled">Pending</button></td>
            {% endif %}
            {% if instance.state == "shutting-down" %}
            <td><button id="" data-loading-text="loading..." class="btn btn-mini btn-danger" value="" disabled="disabled">Shutting-down</button></td>
            {% endif %}
            {% if instance.state == "terminated" %}
            <td><button id="" data-loading-text="loading..." class="btn btn-mini btn-danger" value="" disabled="disabled">Terminated</button></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor  %}
    </tbody>
</table>
<script>

    $('.flexme2').flexigrid({
        height : 'auto',
        width : 'auto',
        striped : true
    });

    $("button.terminate").click(function() {
        $(this).button('loading');
        var that = $(this);
        $.ajax({
            url: "/instances/terminateInstances",
            type: 'POST',
            data: {
                'id':that.attr("value"),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                $.ajax({
                    url: "/instances/describeInstances",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data) {
                        that.button('reset');
                        $("div#instance_container").html(data);
                    },
                    crossDomain: false
                });
            },
            crossDomain: false
        });
    });

</script>
