<h3>Your instances</h3>
<div class="well wellmenu">
    <a href="" id="refresh_instances" class="btn"><i class="icon-refresh"></i> Refresh</a>
</div>
<div id="instance_container"><center><img src="/static/images/loading.gif" /></center></div>
<script>
    $(document).ready(function(e){
        $.ajax({
            url: "/instances/describeInstances",
            type: "POST",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                $("div#instance_container").html(data);
            },
            crossDomain: false
        });
    });
    
    $("a#refresh_instances").click(function(e) {
        $("div#instance_container").html('<center><img src="/static/images/loading.gif" /></center>');
        $("div#instance_container").load('/instances/describeInstances');
        e.preventDefault();
    });
</script>
